name: Sync master/develop branches

on:
  # workflow_dispatch:
  schedule:
    - cron: '* * */1 * *'

jobs:
  create_sync_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: dequelabs/action-sync-branches@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pr-title: 'chore: merge main into develop'
          head: main
          base: development
          pr-labels: auto_merge
